
//颜色定义规范
$background-color-theme: #2D518B;//背景主题颜色默认
$background-color-theme1: #2D518B;//背景主题颜色默认
$background-color-theme2: #3f8e4d;//背景主题颜色1

$font-color-theme: #2D518B;
$font-color-theme1 : #2D518B;//字体主题颜色1
$font-color-theme2 : #3f8e4d;//字体主题颜色2